@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111111cc, #141414), url('../image/img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 0;
    background-size: cover;
}

/* ==== NAV ==== */

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 6rem;
}

header .logo a {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 5px;
}

header nav ul li a {
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fbff00;
    transition: all 1.5s ease;
}

header nav ul li a:hover::before {
    width: 100%;
}

header nav .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header nav .social i {
    font-size: 1.2rem;
    color: #ffffff;
}

header nav .menu {
   filter: invert(1);
   cursor: pointer;
   display: none;
}

/* ==== MAIN ==== */

main {
    height: calc(100% - 80px);
}

main .main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-text {
    max-width: 1000px;
    text-align: center;
    padding: 12px;
    margin-bottom: 4rem;
}

main .main-text h1 {
    color: #ffffff;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

main .main-text h2 {
    color: #A5A5A5;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

main .main-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main .main-buttons button {
    position: relative;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    z-index: 1;
    transition: 1.5s;
}

main .main-buttons button:hover {
    color: #fBff00;
}

main .main-buttons button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: #3d3d3d;
    z-index: -1;
    transition: 1s;
}

main .main-buttons button:hover::before {
    width: 100%;
}