
@media (max-width: 685px) {

    nav {
        padding: 0;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: none;
    }
}

@media (max-width: 580px) {

    .main-buttons {

        flex-direction: column;
    }
}

@media (max-width: 400px) {

   .logo a {
        font-size: 1rem;
   }

   .main-text h1 {
        font-size: 2.5rem;
   }

   .main-text h2 {
        font-size: 1rem;
   }

   .main-buttons button {
        width: 200px;
   }
}

@media (max-width: 217px) {

    .logo a {
        font-size: 0.8rem;
    }

    .main-buttons button {
        width: 170px;
    }
}