@media screen and (max-width: 1200px) {

    header nav .menu {
        display: block;
        z-index: 2;
    }

    header nav {
        padding: 0 2rem;
    }

    header nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #222;
        flex-direction: column;
        gap: 30px;
        z-index: 2;
        transition: .4s ease;
        transform: translateY(-100%);
    }

    header nav ul.active {
        transform: translateY(0);
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    header nav ul .social {
        flex-direction: column;
        gap: 30px;
    }

    header nav ul .social i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    
    header nav {
        padding: 0 1rem;
    }
    
    main .main-text {
        margin-bottom: 2rem;
    }

    main .main-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 380px) {

    header nav .logo a {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    main .main-text h1 {
        font-size: 2.1rem;
    }

    main .main-text h2 {
        font-size: 1.1rem;
    }

    main .main-buttons button {
        width: 240px;
    }
}